<head>
  <meta charset="utf-8">

  <title>NeonCathradals</title>
  <meta name="My First Node Website" content="The HTML5 Herald">
  <meta name="Joel Silva" content="SitePoint">

  <link rel="stylesheet" type="text/css" href="/css/StyleSheet.css">
  
</head>
